.header {
  background: $white;
  padding-top: 0.4rem;

  &__wrap {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  &__content {
    max-width: 1000px;
    margin: auto;
  }
}
