.header__nav {
  display: flex;
  align-items: center;

  &__ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.btn {
  border: none;
  background: $purple;
  color: $white;
  padding: 0.6rem 2rem;
  cursor: pointer;
}

.nav-item {
  padding-right: 2rem;
}
//
